{% extends 'admin_base.html' %}

{% block main %}

<script>
    function checkpassword(){
        if (document.changepassword.confirmnewpassword.value != document.changepassword.createnewpassword.value){
            alert('Confirm new password is not same as create new password ');
            document.signup.confirmnewpassword.focus();
            return false;
        }
        return true;
    }
</script>

<style>
    #but:hover{
        background-color: rgb(0, 99, 99) !important;
    }
    #t{
        color: white;
    }
</style>

<div class="card" style="background: transparent;">

    <div class="card-body">
        <div class="row" style="display: flex; justify-content: center;">
        <!-- <div class="col-sm-2">
            <div class="card" style="min-height: 0vh; border: none;"></div>
        </div> -->
        <div class="" style="max-width: 35rem;">
            <div class="card shadow m-5 p-2" style="border: 5px solid teal; background: transparent;">
                <div class="card-body">
                    <center>
                    <h4 class="p-2" style="border-bottom: 3px solid teal; color: rgb(255, 255, 255);"><b>Change Password</b></h4>
                    </center>
                </div>    
                <div class="container-fluid ">
                    <form class="p-0" method="post" name = "changepassword" onsubmit="return checkpassword()">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <label id="t" for=""><b>Current Password</b></label>
                                    <input type="password" name="currentpassword" class="form-control" placeholder="Enter Current Password" required>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <label id="t" for="" ><b>Create New Password</b></label>
                                    <input type="password" name="createnewpassword" class="form-control" placeholder="Enter New Password" required>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <label id="t" for="" ><b>Confirm New Password</b></label>
                                    <input type="password" name="confirmnewpassword" class="form-control" placeholder="Enter Confirm New Password" required>
                                </div>
                            </div>
                        </div>
                        <center><input type="submit" id="but" value="Submit" class="btn btn-primary" style="border: none; background-color: teal;"></center>
                    </form>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-2">
            <div class="card" style="min-height: 0vh; border: none;"></div>
        </div> -->
        </div>
    </div>
    
</div>


{% if eror == "yes" %}
<script>
    alert('Password Changed Successful');
    window.location = ("{% url 'admin_home' %}");
</script>
{% endif %}
{% if eror == "no" %}
<script>
    alert('Something went wrong ');
</script>
{% endif %}
{% if eror == "not" %}
<script>
    alert('Current Password is wrong');
</script>
{% endif %}


{% endblock %}