{% extends 'admin_base.html' %}

{% block main %}

<style>
   #box:hover{
    background-color: white !important;
   }
   .btn:hover{
    color: teal !important;
   }
</style>


<h4 class="p-2" style="border-bottom: 3px solid teal; color: white;"><b>Dashboard</b></h4>

<div class="row">
    <div class="col-sm-12 p-2 mb-3">
        <div class="card shadow" style="border: 3px solid teal; background: none;">
            <div class="card-body">
                <center><h5 class="p-0" style=" color: rgb(255, 255, 255); "><b>Welcome back to Admin Portal</b></h5></center>
                <center><h5 class="p-0" style="color: white;"><b>{{request.user.first_name}} {{request.user.last_name}}</b></h5></center>

            </div>
        </div>
    </div>
    <div class="col-sm-5 p-2 my-4 ml-5 " >
        <div class="card shadow" id="box" style="border: 3px solid teal; background: none;">
            <div class="card-body" id="sh">
                <center><a href="{% url 'admin_profile' %}" class="btn stretched-link " style=" color: rgb(255, 255, 255); "><b> My Profile</b></a></center>
                
            </div>
        </div>
    </div>
    <div class="col-sm-5 p-2 my-4 ml-5">
        <div class="card shadow" id="box" style="border: 3px solid teal; background: none;">
            <div class="card-body" id="sh">
                
                <center><a href="{% url 'register' %}" class="btn stretched-link " style=" color: rgb(255, 255, 255); "><b>Add Employee</b></a></center>
                
            </div>
        </div>
    </div>
    <div class="col-sm-5 p-2 my-4 ml-5">
        <div class="card shadow" id="box" style="border: 3px solid teal; background: none;">
            <div class="card-body" id="sh">
                <center><a href="{% url 'admin_emp_details' %}" class="btn stretched-link " style=" color: rgb(255, 255, 255); "><b>Employee Details</b></a></center>
                
            </div>
        </div>
    </div>
    <div class="col-sm-5 p-2 my-4 ml-5">
        <div class="card shadow" id="box" style="border: 3px solid teal; background: none;">
            <div class="card-body" id="sh">
                <center><a href="{% url 'admin_change_password' %}" class="btn stretched-link " style=" color: rgb(255, 255, 255); "><b>Change Password</b></a></center>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}